/* alter entire webpage layout */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apply styles to body */ 
body{
    font-family: Helvetica, Arial, sans-serif;
    color: #39a6b2;
}

/* apply syles to header */
header{
    padding:20px 35px;
    background-color: #39a6b2;
}

header h1{
    font-weight:bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
    display: inline;
}

header a{
    color: #fce138;
    text-decoration: none;
}

header nav{
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* Apply styles to the footer */
footer{
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a{
    color: #024e76;
}

/* style the hero */
section{
    padding: 60px;
    background-image: url("../images/hero-bg.jpg");
}

